<form #Form="ngForm" (ngSubmit)="onSubmitCurso(Form)" class="form-horizontal">
    <h1>Cursos</h1>
    <div class="form-group">
        <div class="col-sm-12">
            <label for="nome" class="control-label">Nome:</label>
        </div>
        <div class="col-sm-12">
            <input type="text" name="nome" id="nome" class="form-control" 
            placeholder="Nome do curso" required #nome="ngModel" [(ngModel)]="curso.nome">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="descricao" class="control-label">Descrição</label>
        </div>
        <div class="col-sm-12">
            <input type="text" name="descricao" id="descricao" 
            placeholder="Descrição do curso" class="form-control"#descricao="ngModel"[(ngModel)]="curso.descricao">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <label for="email" class="control-label">E-mail contato</label>
        </div>
        <div class="col-sm-12">
            <input type="email" email name="email" id="email" 
            placeholder="E-mail contato" class="form-control" required #email="ngModel"[(ngModel)]="curso.email">
        </div>
    </div>
    <button type="submit" [disabled]="!Form.valid" class="btn btn-primary">Submeter</button>

    <ul>
        <li *ngFor="let cursoExibe of curso"
        routerLink="cursodetail/{{curso.id}}">
            <label>Nome:</label>{{cursoExibe.nome}}<br>
            <label>Email:</label>{{cursoExibe.email}}<br>
           <label>Descrição:</label>{{cursoExibe.descricao}}
        </li>  
    </ul>
</form>
